.who{
    font-family: $font-title;
    color: $verde-claro;
    font-size: 24px;
    text-align: center;   
    margin-top: 30px;
    margin-bottom: 30px;

}
.profile{
     display: grid;
     grid-template-rows: 2fr 1fr 2fr 1fr;
     grid-template-columns: 1fr;
     text-align: center;
     align-items: center;
     @media (min-width: 768px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;

     }
    
     
    &__img{
        background-color: $gris-claro;
        width: 150px;
        justify-self: center;
        @media (min-width: 768px){
            grid-row: span 3;
            
            width: 250px;
        }
       
           
    }



}
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    gap: 15px;
    @media (min-width: 768px){
      /*display: flex;
      flex-direction: row;
      padding-left: 45px;
      padding: 45px;
      display: grid;*/
    
    
    
   

   

.name{
    font-family: $font-all;
    font-size: 20px;
    color: black;
   
    
}

.description{
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    font-family: $font-all;
    font-size: 16px;
    color: #54585a;
}


.socilamedia{
    letter-spacing: normal;
}
.fa-brands {
    
        color: $verde-claro;
    }
.fa-solid{
        color: $verde-claro;
        
}



































/*.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-title;
    margin: auto;

    &__who{
        color: $verde-claro;    
    }
    
}
.article{
    display: flex;
    flex-direction: column;

}
.name{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-all;
    flex-direction: column;
    padding-top: 10%;
    padding: 5%;
    
    &__who{
        color: $verde-claro;
    }
}
.figure{
    padding: 1%;
}
.img {
    width: 20%;
      
}
 

 .description{
    padding-left: 15px;
    padding-right: 15px;
 }
 .socialmedia{
    padding-top: 5%;
    
 }*/



