
.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-title;
    margin: auto;

    &__who{
        color: $verde-claro;    
    }
    
}
.article{
    display: flex;
    flex-direction: column;

}
.name{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-all;
    flex-direction: column;
    padding-top: 10%;
    padding: 5%;
    
    &__who{
        color: $verde-claro;
    }
}
.figure{
    padding: 1%;
}
.img {
    width: 20%;
      
}
 

 .description{
    padding-left: 15px;
    padding-right: 15px;
 }
 .socialmedia{
    padding-top: 5%;
    
 }



