
.aboutus{
    text-align: center;
    font-family: $font-all;
    flex-direction: column;
    padding-top: 10%;
    
    &__who{
        color: $verde-claro;
    }
}
.figure{
    padding: 1%;
}
.img {
    width: 50%;
    
}
 .name{
    padding: 5%;
    font-family: $font-title;  
 }

 .description{
    padding-left: 15px;
    padding-right: 15px;
 }
 .socialmedia{
    padding-top: 5%;
    
 }



