footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-all;
}
.copyright {
    color: $gris-claro;
    padding-top: 30px;
    padding-bottom: 10px;
}
.futter-list {
    list-style: none;
    color: $gris-oscuro;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.figure {
    width: 116px;
}
.logo-adalab {
    padding-top: 15px;
    padding-bottom: 45px;
    width: 100%;
}