
.header {
    &__title {
      background-color: #099d8d;
      color: #fff;
      text-align: center;
      line-height: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: $font-title;


        &__img {
            background-image: url(/images/program.jpg);   

        }
      
    }
    .ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        background-color: $verde-claro;
        padding: 10px;
            &__li {
                font-size: 15px;
                line-height: 30px;
                color: $blanco;
                font-family: $font-title;
                font-weight: 600;
    
            }
     
      
          
      
      
      
    } 

    


}
