.lema {
    font-size: 18px;
    background-color: white;
    text-align: center;
    font-family: $font-all;
    transform: translateY(-25px);
    margin-left: 150px;
    margin-right: 150px;
   
}


.equipo {
    &__container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
        @media (min-width: 768px){
            padding-left: 45px;
            padding-right: 45px;
        }

   
    
        h3 {
            color: $verde-oscuro;
            text-align: center;
            line-height: 45px;
            font-size: 24px;
            font-family: $font-title;
        }
        p {  
            text-align: center;
            padding: 30px 15px;
            font-family: $font-all;
            color: $gris-oscuro;
            line-height: 24px;
            
            }
        }
    &__box {
        height: 30px;
        width: 30px;
        background-color: white;
        transform: translateY(15px) rotate(45deg);
       
    }
}
.fyd {
    background-color: #f1f1f1;
    text-align: center;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
        @media (min-width:768px){
            flex-direction: row;
            padding-left: 45px;
            padding-right: 45px;
            gap: 30px;
        }
        h4 {
        color:#099d8d;
        font-size: 22px;
        padding-top: 30px;
        font-family: $font-title;
        line-height: 45px;
        }
        p {
        font-family: $font-all;
        color: $gris-oscuro;
        line-height: 24px;
        }
}




