
.equipo-container h3 {
    color:  #14d9c4;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
    font-family: $font-titles;
}
.equipo-container p {
    text-align: center;
    padding: 30px 15px;

}
.fyd {
    background-color: #f1f1f1;
    text-align: center;

}
.fyd h4 {
    color:#099d8d;
    font-size: 22px;
    margin-top: 30px;
    font-family: $font-titles;

}

.box {
    height: 30px;
    width: 30px;
    background-color: yellow;
    transform: rotate(45deg) translate(0,30px);
    margin: auto;
    opacity: 20%;
    
}
.equipo-container, .fyd {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
}
.equipo p {
    font-family: $font-all;
}