.equipo-container h3 {
    color:  #14d9c4;
    text-align: center;
}
.equipo-container p {
    text-align: center;

}
.fyd {
    background-color: #f1f1f1;
    text-align: center;

}
.fyd h4 {
    color:#099d8d;
}

.box {
    height: 30px;
    width: 30px;
    background-color: red;
    transform: rotate(45deg);
    margin: auto;
    
}