<section  class="aboutus" >
  <h2 class="aboutus__tittle">QUIÉNES SOMOS</h2>
        <article class="article">
            <figure class="article__figure">
                <img class="article__figure--img" 
                src="./images/foto1.jpeg" alt="Sandra"> 
            </figure>
            <h3 class="name">Sandra Roldán Gómez</h3>
            <p class="name__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolorum autem numquam porro, voluptas officia in deserunt possimus deleniti iusto minima voluptatibus molestias natus accusamus unde veniam magni, incidunt aliquid?</p>
            <div>
                <a href="#https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#https://www.instagram.com/"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="#https://www.google.com/intl/es/gmail/about/" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            </div>
        <article>
        <article class="article">
            <figure class="article__figure">
                 <img class="article__figure--img" 
                 src="./images/foto2.jpeg" alt="Rocío"> 
            </figure>
            <h3 class="name">Mª Rocío López Dominguez</h3>
            <p class="name__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolorum autem numquam porro, voluptas officia in deserunt possimus deleniti iusto minima voluptatibus molestias natus accusamus unde veniam magni, incidunt aliquid?</p>
            <div>
                <a href="#https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#https://www.instagram.com/"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="#https://www.google.com/intl/es/gmail/about/" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            </div>
        <article>
        <article class="article">
            <figure class="article__figure">
                <img class="article__figure--img" 
                        src="./images/foto3.jpeg" alt="Shannon"> 
            </figure>
            <h3 class="name">Shannon Evora Lopes Rodrigues</h3>
            <p class="name__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolorum autem numquam porro, voluptas officia in deserunt possimus deleniti iusto minima voluptatibus molestias natus accusamus unde veniam magni, incidunt aliquid?</p>
            <div>
                <a href="#https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#https://www.instagram.com/"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="#https://www.google.com/intl/es/gmail/about/" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            </div>
        <article>
        <article class="article">
            <figure class="article__figure">
                <img class="article__figure--img" 
                        src="./images/foto4.jpeg" alt="Anka"> 
            </figure>
            <h3 class="name">Anka Georgiana Lucian</h3>
            <p class="name__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolorum autem numquam porro, voluptas officia in deserunt possimus deleniti iusto minima voluptatibus molestias natus accusamus unde veniam magni, incidunt aliquid?</p>
            <div>
                <a href="#https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#https://www.instagram.com/"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="#https://www.google.com/intl/es/gmail/about/" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            </div>
        <article>

    
  </section>
