<section class="aboutus">
  <h2 class="aboutus__who"> QUIÉNES SOMOS </h2>
  <article class="article">
      <img class="img" src="./images/foto1.jpeg" alt="Sandra"> 
      <h3 class="name">Sandra Roldán Gómez</h3>
      <p class="description">Soy  auxiliar veterinaria e ilustradora, uní mis dos pasiones centrándome en la ilustración de mascotas. Ahora he añadido una pasión más a mi día a día, el mundo del código, donde disfruto de cada línea y donde mis ganas de seguir aprendiendo son cada día más fuertes.</p>
      <div class="socialmedia">
          <a href="#https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#https://www.instagram.com/"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="#https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
          <a href="#https://www.google.com/intl/es/gmail/about/" target="_blank"><i class="fa-solid fa-envelope"></i></a>
      </div>
  <article>
  <article class="article">
      <img class="img" src="./images/foto2.jpeg" alt="Rocío"> 
      <h3>Mª Rocío López Dominguez</h3>
      <p>Soy Rocío López Domínguez, tengo 34 años y estudié el Ciclo formativo de Grado Superior de Administración y Finanzas.
      Me considero una persona metódica, organizada y responsable por resaltar cualidades positivas pero también soy impaciente, autocrítica y algo perfeccionista, lo que me mantiene siempre con muchas ganas de seguir mejorando laboral pero sobre todo personalmente.
      Doy mucho valor a disfrutar del tiempo libre en familia y amigos, para tener una buena salud física y mental y así poder tener equilibrio entre vida personal y laboral.</p>
      <div class="socialmedia">
          <a href="#https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#https://www.instagram.com/"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="#https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
          <a href="#https://www.google.com/intl/es/gmail/about/" target="_blank"><i class="fa-solid fa-envelope"></i></a>
      </div>
  <article>
  <article class="article">
      <img class="img" src="./images/foto3.jpeg" alt="Shannon"> 
      <h3>Shannon Evora Lopes Rodrigues</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolorum autem numquam porro, voluptas officia in deserunt possimus deleniti iusto minima voluptatibus molestias natus accusamus unde veniam magni, incidunt aliquid?</p>
      <div class="socialmedia">
          <a href="#https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#https://www.instagram.com/"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="#https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
          <a href="#https://www.google.com/intl/es/gmail/about/" target="_blank"><i class="fa-solid fa-envelope"></i></a>
      </div>
  <article>
  <article class="article">
      <img class="img" src="./images/foto4.jpeg" alt="Anka"> 
      <h3>Anka Georgiana Lucian</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolorum autem numquam porro, voluptas officia in deserunt possimus deleniti iusto minima voluptatibus molestias natus accusamus unde veniam magni, incidunt aliquid?</p>
      <div class="socialmedia">
          <a href="#https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#https://www.instagram.com/"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="#https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
          <a href="#https://www.google.com/intl/es/gmail/about/" target="_blank"><i class="fa-solid fa-envelope"></i></a>
      </div>
  <article>
</section>
