<section>
    <h3>QUIÉNES SOMOS</h3>
    <article>
      <h4>Nombre</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
        possimus aliquid earum eum nobis ex illum explicabo distinctio
        veniam commodi saepe officia, beatae totam eius, quos iure itaque.
        Consequatur, repellendus.
        <a href=""></a>
      </p>
    </article>
    <article>
      <h4>Nombre</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
        possimus aliquid earum eum nobis ex illum explicabo distinctio
        veniam commodi saepe officia, beatae totam eius, quos iure itaque.
        Consequatur, repellendus.
        <a href=""></a>
      </p>
    </article>
    <article>
      <h4>Nombre</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
        possimus aliquid earum eum nobis ex illum explicabo distinctio
        veniam commodi saepe officia, beatae totam eius, quos iure itaque.
        Consequatur, repellendus.
        <a href=""></a>
      </p>
    </article>
    <article>
      <h4>Nombre</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
        possimus aliquid earum eum nobis ex illum explicabo distinctio
        veniam commodi saepe officia, beatae totam eius, quos iure itaque.
        Consequatur, repellendus.
        <a href=""></a>
      </p>
    </article>
  </section>