<section class="equipo">
    <div class="equipo__container">
      <h3>EQUIPO</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        perspiciatis facilis necessitatibus accusantium sequi labore numquam
        tempore corporis voluptates iste, sunt nesciunt culpa, ullam,
        voluptatibus eum temporibus! Natus, quidem labore.
      </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis rem, possimus impedit reiciendis nam at praesentium. Id voluptatem consequuntur quasi ex animi minus veritatis, nihil, blanditiis dolores ab quaerat expedita.
      </p>
      <div class="equipo__box"></div>
    </div>
    <div class="fyd">
      <article class="fortalezas">
        <h4>Fortalezas</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
          similique voluptatibus qui aut odio. Inventore aliquid asperiores
          expedita libero, assumenda perferendis cum, quasi numquam,
          blanditiis neque tempore excepturi aliquam enim?
        </p>
      </article>
      <article class="debilidades">
        <h4>Debilidades</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
          esse facilis ipsam, possimus corrupti eveniet nihil eos doloribus
          perferendis? Porro eum eaque quaerat, nobis cum odit ratione at
          numquam voluptas.
        </p>
      </article>
    </div>
  </section>