<section class="equipo">
    <div class="equipo__container">
      <h3>EQUIPO</h3>
      <p>
        
      </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis rem, possimus impedit reiciendis nam at praesentium. Id voluptatem consequuntur quasi ex animi minus veritatis, nihil, blanditiis dolores ab quaerat expedita.
      </p>
      <div class="equipo__box"></div>
    </div>
    <div class="fyd">
      <article class="fortalezas">
        <h4>Fortalezas</h4>
        <p>
          Tenemos una notable capacidad para empatizar con los demás, lo que fomenta un ambiente de apoyo mutuo, donde cada miembro del grupo se siente comprendido y valorado. Además tenemos disposición por trabajar juntas, compartir responsabilidades lo que resulta en un trabajo un equipo eficaz y eficiente. Por ultimo destacar que trabajar en unidad nos permite combinar ideas y perspectivas únicas, lo que a menudo resulta en soluciones creativas e innovadoras para los problemas.
        </p>
      </article>
      <article class="debilidades">
        <h4>Debilidades</h4>
        <p>
          Auntque trabajar en unidad tiene muchas fortalezas, pordría destacar que a veces la comunicación ineficiente puede surgir debido a diferencias en estilos de comunicación, donde algunas pueden ser más directas y otras más reservadas, lo que puede causar malentendidos. También puede haber una distribución desigual del trabajo, donde algunas chicas asumen mas tareas que otras. Por último decir, que la toma de decisiones consensuada, aunque valiosa, puede ser más lenta, especialmente en situaciones donde se requiere una acción rapida.
        </p>
      </article>
    </div>
  </section>