@import 'core/variables';
@import 'core/reset';

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyright {
    color: #b8b8b9;
}
.futter-list {
    list-style: none;
    color: #54585a;
    text-align: center;
}
.equipo-container h3 {
    color:  #14d9c4;
    text-align: center;
}
.equipo-container p {
    text-align: center;

}
.fyd {
    background-color: #f1f1f1;
    text-align: center;

}
.fyd h4 {
    color:#099d8d;
}

.box {
    height: 30px;
    width: 30px;
    background-color: red;
    transform: rotate(45deg);
    margin: auto;
    
}

.text-container{
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    margin: auto   
    
}
.text-container h3{
    color: aqua;
}